{% load static %}

<link rel="stylesheet" href="{% static 'ship/load/style.css' %}">
<script src="{% static 'ship/load/functionality.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<div id="log-out-box" class="hidden">
    <div onclick="toggleLogOut(this)" id="shadow-out-box"></div>
    <div id="log-out-wrapper">
    <form id="logout-form" action="{% url 'ship:logout' shipid%}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h3>Operator Name</h3></legend>
                <input type="text" name="op_first" id="op_first" value="{{ firstname }}">
            <legend><h3>Operator Last Name</h3></legend>
                <input type="text" name="op_last" id="op_last" value="{{ lastname }}">
                <input class="hidden" name="go_back" id="go_back" value="load">
                <input class="hidden" name="action_type" value="load">
                <input type="submit" id="hidden-submit" class="hidden">
        </fieldset>
        <div id="login_button">
            <input type="submit" value="Login" class="click_button">
        </div>
    </form>
</div>
</div>
<div id="log-box" class="hidden">
    <div onclick="toggleLog(this)" id="shadow-box"></div>
    <div id="log-entry-wrapper">
        <span onclick="toggleLog(this)" id="log-close-button"> x </span>
        <h3 id="log-header">Submit your log entry</h3>
        <textarea type="text" id="log-entry"></textarea>
        <button onclick="submitLogEntry()" id="submit-log" target="{% url 'ship:log' userid %}">Done</button>
    </div>
</div>
<div id="main_box">
    <div id="border_box">
        <div id="header_wrapper">
            <div class="id_box">
                <div onclick="toggleLog(this);" class="log-button-div"><button id="log-button">New Log Entry</button></div>
                <div class="id_specifics ship_name">
                    <span class="name_label"> Ship Name: </span><span class="name_tag"> {{ ship_name }}</span>
                </div>
                <div class="id_specifics clock">
                    <span class="name_label"> Time: </span><span class="name_tag time_tag" id="clock_time"> </span>
                </div>
                <div class="id_specifics operator_name">
                    <span class="name_label"> Operator Name: </span><span id="operator-name-tag" class="name_tag"> {{ operator_name }}</span>
                </div>
                <div class="logout_box">
                    <button class="toggle-logout-button" onclick="toggleLogOutBox();">Log Out</button>
                </div>
            </div>
    </div>
        <div id="content-wrapper">
            <div id="transaction-wrapper">
                <div id="tab-button"> 
                    <button onclick="toggleType('unload')" id="unload-set" value="Unload" class="tab-click">Unload</button>
                    <button onclick="toggleType('load')" id="load-set" value="Load" class="tab-click">Load</button>
                </div>
                <div id="unload-wrapper" >
                    <div id="ship-grid" onload="adjustGrid()">
                        {% for container in containers %}
                            <div onclick="toggleClick(this)" onmouseout="highlightElements(this)" onmouseover="highlightElements(this)" row="{{ container.row }}" column="{{container.column}}" class="grid-cell cell-{{container.name}} container-{{container.name}}"> 
                                <span class="grid-content">{{ container.name }}</span>
                                </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="load-wrapper" class="hidden">
                    <div id="unload-contents">
                        <div id="container-info-wrapper">
                            <div class="container-info container-name-filler">
                                <span class="container-name-text">Container Name</span>
                                <input type="text" id="container-typed-name">
                            </div>
                            <div class="container-info container-weight-filler">
                                <span class="container-name-text">Weight(kg)</span>
                                <input type="text" id="container-typed-weight">
                            </div>
                            <div class="container-info container-amount-filler">
                                <span class="container-amount-text">Amount</span>
                                <input type="text" id="container-typed-amount">
                            </div>
                            <div class="container-info add-button">
                                <button onclick="triggerContainerAppend()" id="container-submit-item"> Add </button>
                            </div>
                        </div>

                        <div id="container-added-list-wrapper">
                            <ul id="container-added-list">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="details-wrapper">
                <div id="details-context">
                    <div id="counts-box" class="count-items">
                        <span class="count-text">Selected Container Counts</span>
                        <div class="load-content count-items">
                            <span class="load-count-text">Unload:</span><span id="load-count-value" class="count-value">0</span>
                        </div>
                        <div class="unload-content count-items">
                            <span class="unload-count-text">Load:</span><span id="unload-count-value" class="count-value">0</span>
                        </div>
                    </div>
                    <div id="search-box">
                        <div id="dropdown">
                            <input type="text" placeholder="Type the container's name.." id="container-input" onkeyup="filterFunction()">
                            <div id="dropdown-content">
                                    {% for name in containerNames %}
                                    <span class="container-list container-{{name}}" onclick="toggleClick(this)" onmouseover="highlightElements(this)" onmouseout="highlightElements(this)"> 
                                    {{name}}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    </div>
                    <div id="button-box">
                        <button onclick="submitValues()" id="start-process">Start Process</button>
                    </div>
                    <form action="{% url 'ship:animate' userid shipid %}" method="post">
                        {% csrf_token %}
                        <input id="hidden-load-input" class="hidden" name="load_list">
                        <input id="hidden-unload-input" class="hidden" name="unload_list">
                        <input id="hidden-load-weights" class="hidden" name="load_weights">
                        <input class="hidden" name="action_type" value="load">
                        <input type="submit" id="secret-submit-button" value="Done" class="hidden click_button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
